{% extends "base.html" %}
{% load static %}
{% block content %}
        <!-- Credentials -->
        <section class="credential-area">
            <div class="container">
                <div class="gx-row d-flex">
                    <div class="credential-sidebar-wrap" data-aos="zoom-in">
                        <div class="credential-sidebar text-center">
                            <div class="shadow-box">
                                <img src="{% static "assets/images/bg1.png" %}" alt="BG" class="bg-img">
                                <div class="img-box">
                                    <img src="{% static "assets/images/me.png" %}" alt="درمورد من">
                                </div>
                                <h2>دیوید هندرسون</h2>
                                <p>@davidhenderson</p>
        
                                <ul class="social-links d-flex justify-content-center">
                                    <li><a href="credentials.html#"><i class="iconoir-dribbble"></i></a></li>
                                    <li><a href="credentials.html#"><i class="iconoir-twitter"></i></a></li>
                                    <li><a href="credentials.html#"><i class="iconoir-instagram"></i></a></li>
                                    <li><a href="credentials.html#"><i class="iconoir-facebook-tag"></i></a></li>
                                </ul>
        
                                <a href="contact.html" class="theme-btn">با من تماس بگیر</a>
                            </div>
                        </div>
                    </div>

                    <div class="credential-content flex-1">
                        <div class="credential-about" data-aos="zoom-in">
                            <h2>درمورد من</h2>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                        </div>

                        <div class="credential-edc-exp credential-experience">
                            <h2 data-aos="fade-up">تجربیات</h2>
                            <div class="credential-edc-exp-item" data-aos="zoom-in">
                                <h4>1401 - 1402</h4>
                                <h3>طراح و توسعه دهنده فارمر</h3>
                                <h5>طرح های بلوبیس</h5>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>
                            </div>
                            <div class="credential-edc-exp-item" data-aos="zoom-in">
                                <h4>2017 - 2023</h4>
                                <h3>توسعه دهنده فرانت اند</h3>
                                <h5>لارسن و توبرو</h5>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>
                            </div>
                        </div>

                        <div class="credential-edc-exp credential-education">
                            <h2 data-aos="fade-up">تحصیلات</h2>
                            <div class="credential-edc-exp-item" data-aos="zoom-in">
                                <h4>1401 - 1402</h4>
                                <h3>لیسانس روانشناسی</h3>
                                <h5>دانشگاه کالیفرنیا</h5>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>
                            </div>
                            <div class="credential-edc-exp-item" data-aos="zoom-in">
                                <h4>1401 - 1402</h4>
                                <h3>کارشناسی ارشد طراحی</h3>
                                <h5>دانشگاه تگزاس</h5>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>
                            </div>
                        </div>

                        <div class="skills-wrap">
                            <h2 data-aos="fade-up">مهارت ها</h2>
                            <div class="d-grid skill-items gap-24 flex-wrap">
                                <div class="skill-item" data-aos="zoom-in">
                                    <span class="percent">85%</span>
                                    <h3 class="name">جاوا اسکریپت</h3>
                                    <p>زیرا وجود ندارد</p>
                                </div>
                                <div class="skill-item" data-aos="zoom-in">
                                    <span class="percent">78%</span>
                                    <h3 class="name">پایتون</h3>
                                    <p>زیرا وجود ندارد</p>
                                </div>
                                <div class="skill-item" data-aos="zoom-in">
                                    <span class="percent">92%</span>
                                    <h3 class="name">فیگما</h3>
                                    <p>زیرا وجود ندارد</p>
                                </div>
                                <div class="skill-item" data-aos="zoom-in">
                                    <span class="percent">90%</span>
                                    <h3 class="name">وردپرس</h3>
                                    <p>زیرا وجود ندارد</p>
                                </div>
                                <div class="skill-item" data-aos="zoom-in">
                                    <span class="percent">81%</span>
                                    <h3 class="name">ری اکت</h3>
                                    <p>زیرا وجود ندارد</p>
                                </div>
                                <div class="skill-item" data-aos="zoom-in">
                                    <span class="percent">87%</span>
                                    <h3 class="name">Adobe XD</h3>
                                    <p>زیرا وجود ندارد</p>
                                </div>

                            </div>
                        </div>

                        <div class="skills-wrap awards-wrap">
                            <h2 data-aos="fade-up">جوایز</h2>
                            <div class="d-grid skill-items gap-24 flex-wrap">
                                <div class="skill-item" data-aos="zoom-in">
                                    <span class="percent">14 مهر 1401</span>
                                    <h3 class="name">بلوبیس</h3>
                                    <p>زیرا وجود ندارد</p>
                                </div>
                                <div class="skill-item" data-aos="zoom-in">
                                    <span class="percent">13 آبان 1402</span>
                                    <h3 class="name">دمبله</h3>
                                    <p>زیرا وجود ندارد</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        


       {% endblock %}