{% extends "base.html" %}
{% load  static %}

{% block content %}

        <!-- About -->
        <section class="about-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6" data-aos="zoom-in">
                        <div class="about-me-box shadow-box">
                            <a class="overlay-link" href="about.html"></a>
                            <img src="{% static "assets/images/bg1.png" %}" alt="BG" class="bg-img">
                            <div class="img-box">
                                <img src="{% static "assets/images/me.png" %}" alt="About Me">
                            </div>
                            <div class="infos">
                                <h4>یک طراح وب</h4>
                                <h1>دیوید هندرسون</h1>
                                <p>من یک طراح وب مستقر در سان فرانسیسکو هستم.</p>
                                <a href="index.html#" class="about-btn">
                                    <img id="rdt" src="{% static "assets/images/icon.svg" %}" alt="Button">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="about-credentials-wrap">
                            <div data-aos="zoom-in">
                                <div class="banner shadow-box">
                                    <div class="marquee">
                                        <div>
                                          <span>آخرین کار و <b>ویژه</b> <img src="{% static "assets/images/star1.svg" %}" alt="Star"> آخرین کار و <b>ویژه</b> <img src="assets/images/star1.svg" alt="Star"> آخرین کار و <b>ویژه</b> <img src="assets/images/star1.svg" alt="Star"> آخرین کار و <b>ویژه</b> آخرین کار و <img src="assets/images/star1.svg" alt="Star"> آخرین کار و <b>ویژه</b> آخرین کار و <img src="assets/images/star1.svg" alt="Star"></span>
                                        </div>
                                      </div>
                                </div>

                            </div>

                            <div class="gx-row d-flex gap-24">
                                <div data-aos="zoom-in">
                                    <div class="about-crenditials-box info-box shadow-box h-full">
                                        <a class="overlay-link" href="credentials.html"></a>
                                        <img src="{% static "assets/images/bg1.png" %}" alt="BG" class="bg-img">
                                        <img src="{% static "assets/images/sign.png" %}" alt="Sign">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="infos">
                                                <h4> بیشتر در مورد من</h4>
                                                <h1>اعتبارنامه</h1>
                                            </div>
    
                                            <a href="credentials.html" class="about-btn">
                                                <img id="rdt" src="{% static "assets/images/icon.svg" %}" alt="Button">
                                            </a>
    
                                        </div>
                                    </div>
                                </div>

                                <div data-aos="zoom-in">
                                    <div class="about-project-box info-box shadow-box h-full">
                                        <a class="overlay-link" href="works.html"></a>
                                        <img src="{% static "assets/images/bg1.png" %}" alt="BG" class="bg-img">
                                        <img src="{% static "assets/images/my-works.png" %}" alt="کارهای من">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="infos">
                                                <h4>ویترین</h4>
                                                <h1>پروژه ها</h1>
                                            </div>
    
                                            <a href="index.html#" class="about-btn">
                                                <img id="rdt" src="{% static "assets/images/icon.svg" %}" alt="Button">
                                            </a>
    
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-24">
                    <div class="col-md-12">
                        <div class="blog-service-profile-wrap d-flex gap-24">
                            <div data-aos="zoom-in">
                                <div class="about-blog-box info-box shadow-box h-full">
                                    <a href="blog.html" class="overlay-link"></a>
                                    <img src="{% static "assets/images/bg1.png" %}" alt="BG" class="bg-img">
                                    <img src="{% static "assets/images/gfonts.png" %}" alt="GFonts">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="infos">
                                            <h4>وبلاگ</h4>
                                            <h1>فونت ها</h1>
                                        </div>
    
                                        <a href="blog.html" class="about-btn">
                                            <img id="rdt" src="{% static "assets/images/icon.svg" %}" alt="Button">
                                        </a>
    
                                    </div>
                                </div>
                            </div>

                            <div data-aos="zoom-in" class="flex-1">
                                <div class="about-services-box info-box shadow-box h-full">
                                    <a href="service.html" class="overlay-link"></a>
                                    <img src="{% static "assets/images/bg1.png" %}" alt="BG" class="bg-img">
                                    <div class="icon-boxes">
                                        <i class="iconoir-camera"></i>
                                        <i class="iconoir-design-pencil"></i>
                                        <i class="iconoir-color-filter"></i>
                                        <i class="iconoir-dev-mode-phone"></i>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="infos">
                                            <h4>تخصص</h4>
                                            <h1>ارائه خدمات</h1>
                                        </div>
    
                                        <a href="service.html" class="about-btn">
                                            <img id="rdt" src="{% static "assets/images/icon.svg" %}" alt="Button">
                                        </a>
    
                                    </div>
                                </div>
                            </div>

                            <div data-aos="zoom-in">
                                <div class="about-profile-box info-box shadow-box h-full">
                                    <img src="{% static "assets/images/bg1.png" %}" alt="BG" class="bg-img">
                                    <div class="inner-profile-icons shadow-box">
                                        <a href="index.html#">
                                            <i class="iconoir-dribbble"></i>
                                        </a>
                                        <a href="index.html#">
                                            <i class="iconoir-twitter"></i>
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="infos">
                                            <h4>با من بمان</h4>
                                            <h1>پروفایل ها</h1>
                                        </div>
    
                                        <a href="contact.html" class="about-btn">
                                            <img id="rdt" src="{% static "assets/images/icon.svg" %}" alt="Button">
                                        </a>
    
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>

                <div class="row mt-24">
                    <div class="col-md-6" data-aos="zoom-in">
                            
                        <div class="about-client-box info-box shadow-box">
                            <img src="{% static "assets/images/bg1.png" %}" alt="BG" class="bg-img">
                            <div class="clients d-flex align-items-start gap-24 justify-content-center">
                                <div class="client-item">
                                    <h1>07</h1>
                                    <p>سال  <br>تجربه</p>
                                </div>

                                <div class="client-item">
                                    <h1>+125</h1>
                                    <p>مشتری <br>راضی</p>
                                </div>

                                <div class="client-item">
                                    <h1>+210</h1>
                                    <p>همه <br>پروژه ها</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6" data-aos="zoom-in">
                            
                        <div class="about-contact-box info-box shadow-box">
                            <a class="overlay-link" href="contact.html"></a>
                            <img src="{% static "assets/images/bg1.png" %}" alt="BG" class="bg-img">
                            <img src="{% static "assets/images/icon2.png" %}" alt="Icon" class="star-icon">
                            <h1>بیایید <br>با هم <span>کار کنیم.</span></h1>
                            <a href="index.html#" class="about-btn">
                                <img id="rdt" src="{% static "assets/images/icon.svg" %}" alt="Button">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </section>

{% endblock %}
