{% extends "base.html" %}
{% load static %}
{% block content %}

        <!-- Breadcrumb -->
        <section class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content" data-aos="fade-up">
                    <p>برندینگ - استدیو ریون</p>
                    <h1 class="section-heading"><img src="{% static "assets/images/star-2.png" %}" alt="Star"> طراحی زیبایی برای برند <br>استارت آپ جدید <img src="assets/images/star-2.png" alt="Star"></h1>
                </div>
            </div>
        </section>

        <!-- Project Details -->
        <section class="project-details-wrap">
            <div class="project-details-img" data-aos="zoom-in">
                <img src="{% static "assets/images/project-dt-1.jpeg" %}" alt="Project Details">
            </div>

            <div class="container">
                <div data-aos="zoom-in">
                    <div class="d-flex project-infos-wrap shadow-box mb-24">
                        <img src="{% static "assets/images/bg1.png" %}" alt="BG" class="bg-img">
                        <img src="{% static "assets/images/icon2.png" %}" alt="Icon">
                        <div class="project-details-info flex-1">
                            <h3>استودیو ریون</h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                        </div>
    
                        <div class="project-details-info flex-1">
                            <h3>درباره</h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                        </div>
                    </div>
                </div>

                <div class="project-details-2-img mb-24" data-aos="zoom-in">
                    <img src="{% static "assets/images/project-dt-1.jpeg" %}" alt="Project">
                </div>

                <div class="row mb-24">
                    <div class="col-md-6" data-aos="zoom-in">
                        <div class="project-details-3-img">
                            <img src="{% static "assets/images/project3.jpeg" %}" alt="Project">
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="zoom-in">
                        <div class="project-details-3-img">
                            <img src="{% static "assets/images/project4.jpeg" %}" alt="Project">
                        </div>
                    </div>
                </div>

                <div class="row mb-24">
                    <div class="col-md-6" data-aos="zoom-in">
                        <div class="project-details-3-img">
                            <img src="{% static "assets/images/project5.jpeg" %}" alt="Project">
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="zoom-in">
                        <div class="project-details-3-img">
                            <img src="{% static "assets/images/project6.jpeg" %}" alt="Project">
                        </div>
                    </div>
                </div>

                <div data-aos="zoom-in">
                    <div class="project-about-2 d-flex shadow-box mb-24">
                        <img src="{% static "assets/images/bg1.png" %}" alt="BG" class="bg-img">
                        <div class="left-details">
                            <img src="{% static "assets/images/icon3.png" %}" alt="Icon">
                            <ul>
                                <li>
                                    <p>سال</p>
                                    <h4>2023</h4>
                                </li>
                                <li>
                                    <p>مشتری</p>
                                    <h4>استودیو ریون</h4>
                                </li>
                                <li>
                                    <p>خدمات</p>
                                    <h4>طراحی وب سایت</h4>
                                </li>
                                <li>
                                    <p>پروژه</p>
                                    <h4>پویا</h4>
                                </li>
                            </ul>
                        </div>
                        <div class="right-details">
                            <h3>شرح</h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="project-details-img" data-aos="zoom-in">
                <img src="{% static "assets/images/project-dt-1.jpeg" %}" alt="Project Details">
            </div>

            <div class="container d-flex align-items-center justify-content-center" data-aos="zoom-in">
                <a href="work-details.html#" class="big-btn shadow-box">
                    پروژه بعدی
                </a>
            </div>
            
        </section>
        
        


        {% endblock %}